.mydiv{
    background-color: aqua;
    margin: 200px;
    /* transform: translate(20px,200px);
    transform: rotate(45deg);
    transform: scale(2,7);
    transform: skew(35deg); */
    transform: matrix(1,2,-1,2,-1,);
}